{% extends "layout.html" %}
{% block title %}豆瓣图书Top250数据分析{% endblock %}
 {% block content %}
  <!-- ======= Our Team Section ======= -->
    <section id="team" class="team">
        <div class="container">
        <div class="section-title">
            <h2>豆瓣图书Top250图书</h2>
        </div>
        </div>
        <div><a href=/book><button style="background-color: white"><img src="../static/assets/img/return.png" height="40px" title="返回"></button></a></div>
        <div class="search bar">
            <form class="form" action="/search" method="post">
                <input type="text" placeholder="请输入关键字" name ="keywords">
                <button type="submit" style="color: #F9F0DA" >
                    <img src="../static/assets/img/老虎.png" height="40px" title="click去搜索"></button>
            </form>
        </div>

        <!-- ======= Counts Section ======= -->
        <section class="counts section-bg" style="padding: 0;width:fit-content;margin: auto;background-color: #ffffff" >
            <table class="table table-striped" style="background-color: rgba(228, 124, 146, 0.05)">
                    <tr style="background-color: #ffffff;width:100px">
                        <td style="width: 180px">书名</td>
                        <td style="width: 100px">作者</td>
                        <td style="width: 100px">译者</td>
                        <td style="width: 150px">出版社</td>
                        <td style="width: 100px">出版时间</td>
                        <td>价格</td>
                        <td style="width: 100px">星级</td>
                        <td style="width: 100px">评分</td>
                        <td style="width: 100px">评价人数</td>
                        <td style="width: 280px">一句话概述</td>
                        <td style = "width: 70px">推荐</td>
                    </tr>
                    {% for tushu in book %}
                        <tr>
                             <form action="/rel" method="get">
                            <td>
                                <a href="{{ tushu[1] }}" target="_blank">
                                    {{tushu[0]}}
                                </a>
                            </td>
                            <td>{{ tushu[3] }}</td>
                            <td>{{tushu[4]}}</td>
                            <td>{{tushu[5]}}</td>
                            <td>{{tushu[6]}}</td>
                            <td>{{tushu[7]}}</td>
                            <td>{{tushu[8]}}</td>
                            <td>{{tushu[9]}}</td>
                            <td>{{tushu[10]}}</td>
                            <td>{{tushu[11]}}</td>
                                <input name="bid" value="{{tushu[1]}}" type="hidden">
                            <td>
<!--                                <button class="submit_b" type="submit"><img src="../static/assets/img/">查看</button>-->
                                <button class="netButton" type="submit">
                                  <span class="span">🔍</span>
                                </button>
                            </td>
                            </form>
                        </tr>
                    {% endfor %}
                </table>
            {{ pagination.info }}
            {{ pagination.links }}

        </section><!-- End Counts Section -->
    </section><!-- End Our Team Section -->
{% endblock %}