{% extends "layout.html" %}

{% block title %}豆瓣图书Top250数据分析{% endblock %}

 {% block content %}
  <!-- ======= Our Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <h2>豆瓣图书Top250评分分布图</h2>
        </div>

        <!-- ======= Counts Section ======= -->
    <section class="counts section-bg">
      <div class="container">

            <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
            <div id="main" style="width: 100%;height:600px"></div>


      </div>
    </section><!-- End Counts Section -->

      </div>
    </section><!-- End Our Team Section -->

 <script type="text/javascript">
var dom = document.getElementById("main");
var myChart = echarts.init(dom);
var app = {};
option = null;
option = {
  tooltip: {
    trigger: 'item'
  },
  legend: {
    orient: 'vertical',
    left: 'left'
  },
  series: [
    {
      name: '评分数量',
      type: 'pie',
      radius: '50%',
      data: [
        { value: 1, name: '8.5' },
        { value: 8, name: '8.6' },
        { value: 25, name: '8.7' },
        { value: 27, name: '8.8' },
        { value: 29, name: '8.9' },
        { value: 37, name: '9' },
        { value: 44, name: '9.1' },
        { value: 33, name: '9.2' },
        { value: 17, name: '9.3' },
        { value: 11, name: '9.4' },
        { value: 12, name: '9.5' },
        { value: 4, name: '9.6' },
        { value: 1, name: '9.7' }
      ],
      emphasis: {
        itemStyle: {
          shadowBlur: 10,
          shadowOffsetX: 0,
          shadowColor: 'rgba(0, 0, 0, 0.5)'
        }
      }
    }
  ]
};

if (option && typeof option === "object") {
    myChart.setOption(option, true);
}
       </script>

{% endblock %}