{% extends "layout.html" %}

{% block title %}豆瓣图书Top250数据分析{% endblock %}

 {% block content %}
 <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div></div>
      <div class="container">

        <div class="row no-gutters">
          <div class="col-lg-6 video-box">
            <img src="static/assets/img/word.jpg" class="img-fluid" alt="">

          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center about-content">

            <div class="section-title">
              <h2>词频统计</h2>
              <p>根据250部图书的一句话描述，提炼出词云树，可以让我们更加清晰的了解人们对经典图书的理解</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="">关于图书</a></h4>
              <p class="description">不知道你从中悟道了什么</p>
            </div>


          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->


{% endblock %}